#form{margin-left: 300px;margin-top: 20px;border-radius: 50px;background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
#signup{background-color: black;}
.label1{border:solid black 2px;}
#formBtnmargin{margin-left: 250px;}
#labelformmargin{margin-left: 220px;}


#img2{height:200px;width:200px;margin-left: 500px;}
#key{display: grid;grid-template-columns:40% 60%;margin-left: 200px;}
#item{border: solid lightgrey 2px;border-radius: 10px;}
#h{font-family: sans-serif;font-stretch: ultra-condensed;border-bottom: solid lightgrey 1px;}
#at{text-decoration: none; color:black;}
.divbodylast{margin-left: 400px;}


#signupbody{background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }